<div matRipple matRippleColor="rgb(0,0,0,.05)" style="position:relative;user-select:none;cursor: pointer;color:#111;width:220px;margin-right: 10px;border-radius: 2px;padding: 0;">
    <img style="width: 100%;" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gbmkFWdtihe1VfydTDsieQ6VfGL.jpg">
    <div style="font-weight:bold;font-size:15px;padding: 5px;">Bohemian Rhapsody</div>
    <div style="background: #fff;padding: 5px;position: absolute;top:0;right: 0;color: #3d3d3d;font-size: 13px;border-radius: 0px 2px 0px 0px;">
        <i class="fas fa-calendar-day" style="margin-right: 5px;"></i>2018
    </div>
</div>