<div matRipple matRippleColor="rgb(0,0,0,.05)" class="poster-box">
    <img style="width: auto;height: 300px;" src="https://image.tmdb.org/t/p/w500//{{movie.poster_path}}">
    <div style="padding: 5px;font-size: 13px;border-radius: 0px 2px 0px 0px;">
        <i class="fas fa-calendar-day" style="margin-right: 5px;"></i>{{movie.release_date}}
    </div>
    <div style="font-weight:bold;font-size:14px;padding: 5px;">{{movie.title}}</div>
    
</div>

<style>
    .poster-box {
        position: relative;
        user-select: none;
        cursor: pointer;
        color: #111;
        margin-right: 10px;
        border-radius: 2px;
        padding: 0;
        height: 100%;
    }
</style>