<div style="width:100%;max-width:1400px;margin: 10px auto;background: rgba(255,255,255,0.8);padding: 20px;box-sizing: border-box;border-radius: 2px;">
  <div style="width:100%;display:flex;justify-content: space-between;margin-bottom: 10px;align-items: center;">
    <h3 style="margin-bottom:10px;margin-top:10px;color: #111;"><i class="{{icon}}" style="margin-right:10px;font-size: 25px;vertical-align: middle;"></i>{{title}}</h3>
    <div>
      <button (click)="moveLeft()" class="arrow_style" matRipple id="ctrl-left"><i class="fas fa-chevron-left"></i></button>
      <button (click)="moveRight()" class="arrow_style" matRipple id="ctrl-right"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
  <div style="overflow: hidden;width:100%;">
    <div id="movies-poster-slider" style="display:flex;width: 100%;">
      <app-movie-poster *ngFor="let movie of movies" [movie]="movie"></app-movie-poster>
    </div>
  </div>

</div>

<style>
  .arrow_style {
    font-size: 17px;
    color: #eee;
    border-radius: 100%;
    text-align: center;
    width: 35px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    background: rgba(0, 0, 0, .4);
    z-index: 2;
    margin-right: 10px;
  }

  .arrow_style:hover {
    background: rgba(0, 0, 0, .6);
  }
</style>